/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 90px;
  text-align: center;
  color: #333;
}

/* Navbar */
nav {
  background-color: #2f2f2f;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #dddddd;
}

/* Sections */
section {
  background-color: #ffffff;
  margin: 40px auto;
  padding: 30px;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #222;
}

/* Skills */
.skills-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.skill {
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

/* Project Cards */
.project-card {
  margin-top: 25px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Contact */
#contact p {
  margin: 5px 0;
}
.profile-img {
  width: 150px;      /* size control */
  height: 150px;
  border-radius: 50%; /* round photo */
  object-fit: cover;
  margin-bottom: 15px;
}
.project-card img {
  width: 100%;
  max-width: 400px;   /* இதுதான் main control */
  height: auto;
  border-radius: 8px;
}
