body {
    font-family: Arial, sans-serif;
   background-color: #f4f4f4;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 18px;
}
nav {
    background-color: #4CAF50;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
section {
    background-color: white;
    margin: 80px auto;
    padding: 30px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

section h2 {
    color: #4CAF50;
}
.skills-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: bold;
}
.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #fafafa;
}
#contact {
    text-align: center;
}
.project-card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.project-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 8px 15px;
    border-radius: 20px;
}
.resume-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.resume-btn:hover {
    background-color: #388E3C;
}
/* Mobile Responsive */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills-box {
        flex-direction: column;
    }

    .project-card {
        width: 95%;
    }
}


